{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "dynamicImport": true,
            "decorators": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        },
        "target": "es2017",
        "externalHelpers": false,
        "keepClassNames": true,
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        },
        "baseUrl": "./src",
        "paths": {
            "@/*": ["*"],
            "@config/*": ["config/*"],
            "@controllers/*": ["api/controllers/*"],
            "@exceptions/*": ["api/exceptions/*"],
            "@interfaces/*": ["api/interfaces/*"],
            "@middlewares/*": ["api/middlewares/*"],
            "@models/*": ["api/models/*"],
            "@services/*": ["api/services/*"],
            "@requests/*": ["api/requests/*"],
            "@utils/*": ["utils/*"],
            "@base/*": ["*"]
        }
    },
    "module": {
        "type": "commonjs"
    }
}
